@font-face {
    font-family: "open";
    src: url('../lib/OpenSans-Light.ttf');
}
@font-face {
    font-family: "yanone";
    src: url('../lib/YanoneKaffeesatz-Regular.ttf');
}
@font-face {
    font-family: "Indie Flower";
    src: url('../lib/IndieFlower.ttf');
}
@-webkit-keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1); }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9); } }
@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1); }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9); } }
/*
 Classes available in the whole website
 */
.width100{
    width: 100%;
}

.height100{
    height: 100%;
}

html, body {
    font-size: 2vh;
    padding: 0 0;
    margin: 0!important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    background-attachment: fixed;
    font-family: Open, serif;
    position: relative;
    height: 100%;
    width: 100%;
    display: table;
    table-layout: fixed;
    border: none;
}
#menuContent {
    padding: 1rem;
    background: white;
    border-radius: 5px;
}
#shootMarges {
    margin: 0;
    padding: 0;
}
.iconMenu {
    font-size: 13vh;
    color: #777777;
}
.btnHover:hover {
    z-index: 2;
    -webkit-transition: all 300ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 300ms ease-in;
    -ms-transform: scale(1.2);
    -moz-transition: all 300ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 300ms ease-in;
    transform: scale(1.1);
}
.center{
    text-align: center;
}
.footerLink {
    position: static;
    display: table-row;
    justify-content: center;
    right: 0;
    bottom: 0;
    left: 0;
    height: 4.5vh;
    border: none !important;
    text-align: center;
    background-attachment: scroll;
    background-position: 0 0;
}
.footer_margin{
    margin: 0 1rem;
}
.footerLink a {
    color: black;
}
.footer_margin:hover{
    text-decoration: none;
}
.leftArrow{
    color: #625a5a;
    font-size: 2rem;
    margin: 1rem 0 0 1rem;
}
.leftArrow:hover {
    color: #000;
}
.fa, .fas {
    font-family: 'Font Awesome 5 Free', serif;
    font-weight: 900;
}
.margin_left{
    margin-left:2rem;
}
.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    color: #28a745;
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    color: #33b26e;
}
.unstyleBtn {
    border: none;
    background: transparent;
}
.unstyleBtn:focus {
    outline: none;
}
#authContent3{
    padding:0 2rem 0 2rem;
    margin-top: 4vh;
    margin-bottom: 3vh;
    background: white;
    border-radius: 5px;
}

#authContent {
    padding: 0;
    margin-top: 25%;
    margin-bottom: 25%;
    background: white;
    border-radius: 5px;
}

.colorArrow {
    color: #d1c9cf;
}
.trash {
    color: crimson;
}
.shoot_margin_lateral{
    margin-right:0;
    margin-left:0
}
.shoot_padding{
    padding: 0;
}
.title_question{
    margin-top: 5vh;
    font-size: 4vh;
}
.transparent{
    color: transparent;
}
.relative{
    position: relative;
}
.margin_bottom_btn_submit{
    margin-bottom: 5vh;
}
.iconMenu:hover {
    color: #777777;
}
.env-info {
    font-style: italic;
    font-size: 80%;
}
.homeIcon i {
    margin: 2vh 3vh 0;
    font-size: 3vh;
}
.homeIcon i {
    color: #625a5a;
}
.recContent {
    background-color: white;
    border-radius: 3px;
    padding: 2rem;
}
.table thead th {
    border-top: 0;
}
#editor {
    width: 100%;
    height: 550px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    padding: 5px;
    overflow: auto;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #51e295;
    -webkit-transition: .4s;
    transition: .4s;
}
.switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 20px;
    margin-left: 13px;
    margin-bottom: 0.7em;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider.round {
    border-radius: 34px;
}
input:checked + .slider {
    background-color: #ccc;
}
.slider.round:before {
    border-radius: 50%;
}
.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 21px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider:before {
    -webkit-transform: translateX(-18px);
    -ms-transform: translateX(-18px);
    transform: translateX(-18px);
}
#shootRow {
    margin-left: 0;
    margin-right: 0;
}
#error .imgHomer {
    height: 20vh;
    width: 20vh;
}
#error .errorMsg {
    color: black;
    text-align: center;
    padding-top: 5vh;
    font-family: Yanone, serif;
}
#formManual .row {
    margin: 1rem;
}
.colorArrow:hover {
    color: #444444;
    cursor: pointer;
}
.delete-question:hover {
    color: rgb(226, 27, 27) !important;
}
.unstyleBtn:hover {
    cursor: pointer;
    background: transparent;
}
.order-arrow {
    margin-left: 4.5%;
}
.fas:focus-visible , .fa:focus-visible {
    outline: none !important;
}

#toast-container{
    position:sticky;
    z-index:1055;
    top:0
}
#toast-wrapper{
    position:absolute;
    top:0;
    right:0;
    margin:5px
}
#toast-container>#toast-wrapper>.toast{
    min-width:150px
}
#toast-container>#toast-wrapper>.toast>.toast-header strong{
    padding-right:20px
}

.qrcode {
    height: 60vh;
    width: auto;
}