.formAnon {
    width: 100%;
    height: 20vh;
    background-color: white;
}
#menuContent {
    background: white;
    border-radius: 5px;
}
.heightBtn {
    height: 20vh;
}
.imgAnon {
    height: 10vh;
    margin: 5vh 1vh;
}
.btnAnon {
    font-size: 1.4rem;
    display: inline;
    width: 50%;
    padding-top: 15vh;
}
#inputPseudo {
    width: 15vh;
    height: 5vh;
    border-width: 0 0 1px 0;
    display: inline;
    margin-bottom: 7vh;
    border-radius: 0;
    font-size: 1.4rem;
}
input[type=text] {
    vertical-align: bottom;
    font-family: Open, serif;
}
.contentAuth {
    text-align: center;
    font-size: 1.5rem;
    font-family: Open, serif;
    margin: 0 0 1vh;
}
.formAnon:hover {
    background-color: white;
}
.btn-light:not(:disabled):not(.disabled):active{
    background-color: white;
}