.installContainer {
    margin: 3vh;
    background: #f5f5f5;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 3vh;
}
.switchAlign {
    align-items: center;
}
h1{
    font-size: 1.8rem;
}