.propoStyle {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Yanone, serif;
    font-size: 20vh;
    text-align: center;
    border: solid 1px #444;
    font-weight: bold;
    cursor: pointer;
    background: ghostwhite;
}
.titleFont, .titleFont th {
    font-family: Indie Flower, serif;
    font-size: 1.9rem;
}

.btn-confirm {
    z-index: 5;
}
.zindex5 {
    z-index: 5;
}
.form-bg{
    background: url(./../../image/bg2.jpg) no-repeat fixed  50% 0 !important;
    background-size: cover !important;
}
@media (min-width: 280px) and (max-width: 1024px) {
    .form-bg{
        background: white none !important;
    }

}
@media (min-width: 1025px) and (max-width: 1280px){
    .form-bg {
        max-height: 100vh;
        justify-items: center;
        align-items: center;
        display: grid !important;
    }
}
@media (min-width: 1281px){
    .form-bg {
        background-size: cover;
        background: url("./../../image/bg2.jpg") no-repeat fixed 50% 0%;
        max-height: 100vh;
        height: 100vh;
        justify-items: center;
        align-items: center;
        display: grid !important;
    }
    .form-container {
        max-width: 30vw;
        width: 28vw;
        margin: auto;
        height: 100vh;
    }

    .btn-confirm {
        position: absolute;
        bottom: 0;
    }

    .propoStyle {
        width: 100%;
        margin: 0;
        padding: 0;
        font-family: Yanone, serif;
        font-size: unset;
        text-align: center;
        border: solid 1px #444;
        font-weight: bold;
        cursor: pointer;
        background: ghostwhite;
    }

    .phone {
        --black5: #404040;
        --black4: #505050;
        z-index: 0;
        width: 13rem;
        height: 24rem;
        padding: 0 0.5rem;
        border: 0.25rem solid var(--black5);
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        background-color: #e9eaec;
    }

    .phone_mic {
        height: 0.25rem;
        width: 4rem;
        margin: 1rem auto;
        border-radius: 999rem;
        background-color: var(--black4);
    }
    .phone_screen {
        position: relative;
        flex: 1 0 auto;
        background-color: white;
        border: solid black;
        border-radius: 6px;
    }
    .phone_screen::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

    }
    .phone_button {
        width: 1.5rem;
        height: 1.5rem;
        border: 2px solid var(--black4);
        border-radius: 50%;
        margin: 1rem auto;
    }
}

form {
    margin-bottom: 0;
}
.titleFont {
    font-size: 1rem;
    padding: 5%;
    margin-top: 15%;
    text-align: center;
}