.installContainer {
    margin: 3vh;
    background: #f5f5f5;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 3vh;
}
.sessions-list-option {
    font-weight: bold;
}
.close:focus{
    outline: none;
}
#session {
    align-items: center;
    margin-bottom: 2%;
}
#session div {
    font-family: Yanone, serif;
    font-size: 30px;
    padding-right: 0;
    padding-left: 0;
}
#inputSession {
    background-color: #f4f4f4;
    border-radius: 0;
    border-width: 0 0 1px;
    width: 70%;
    font-weight: bold;
}
input[type=text] {
    vertical-align: bottom;
    font-family: Open, serif;
    font-weight: lighter;
 }
#questionBlock {
    margin-top: 8vh;
    margin-bottom: 5vh;
    align-items: center;
}
.iconSize {
    transform: scale(1.5);
}
.delete-question {
    padding-left: 0;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #d1c9cf;
}
.question-icon {
    color: #e2e6ea;
    transform: scale(.7);
}
.QStyle {
    text-align: end;
    font-size: 25px;
}
.proposal {
    width: 100%;
    border-radius: 0;
    border-width: 0 0 1px;
}
.disabled-check {
    cursor: default !important;
    color: #d1c9cf !important;
}
@media only screen and (min-device-width: 480px) and (max-width: 768px){
    #authContent3 p, #authContent3 li, #authContent3 h3 {
        font-size: 2vh;
    }
}
.propo {
    margin-bottom: 2vh;
}
.inputQuestion {
    background-color: #f4f4f4;
    border-radius: 0;
    border-width: 0 0 1px;
}
.QStyle {
    text-align: end;
    font-size: 25px;
}

.img-size {
    width: 10rem;
}

.formNavBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navigation {
    position : absolute;
    right: 0;
}

@media (min-width: 1280px) and (max-width: 2000px) {
    .navigation {
        right: 5vw;
    }
}