.installContainer{
    margin: 3vh;
    background: #f5f5f5;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 3vh;
}
#authContent3{
    padding:0 2rem 0 2rem;
    margin-top: 23vh;
    background: white;
    border-radius: 5px;
}
.btn_margin{
    margin: 2rem 0 2rem 0 ;
}
#language{
    max-width: 14vw;
}
@media only screen and (max-device-width : 700px){
    #language{
        max-width: fit-content;
    }
}