.marginTop {
    margin-top: 4vh;
}
.marginLeft {
    margin-left: 1%;
}
.sessionFontTitle {
    font-size: 250% !important;
}

.fontSizeLaunch {
    font-size: 1.3em;
}
.marginLaunch2 {
    margin-top: 5vh;
    font-size: 4vh;
}
.text-center {
    text-align: center;
    padding-top: 1%;
}
.sessionFont {
    font-size: 200% !important;
}
.marginLaunch {
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.sessionFontTitle h4 {
    font-size: 103% !important;
}
.responsive-img {
    height: 40vh;
    width: auto;
}
.propo {
    margin-bottom: 2vh !important;
}
.img-container {
    width: max-content;
    margin: auto;
}
.icon-pointer {
    z-index: 2;
    position: relative;
    transform: translateY(-100%)
    translateX(-50%);
}
/* Stats end session */

.statSwitch {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#titleSession span {
    font-size: 1.6em;
    font-family: Yanone, serif;
}
.recContent .resultStatBar {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline;
    height: 4rem;
    line-height: 4rem;
    margin: 2rem 1px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    border: 0;
}
#word-cloud-container{
    width: inherit;
    display: flex;
    justify-content: center;
    position: relative;
}
.score {
    text-align: center;
    vertical-align: middle;
    height: 10vh;
    margin-bottom: 1vh;
}
#advancedStats h4 {
    font-size: 70% !important;
}

#advancedStats .sessionFont {
    font-size: 150% !important;
}
.centerStats {
    margin-left: auto !important;
    margin-right: auto !important;
    justify-items: center !important;
    display: grid !important;
}