.colorEditFa{
    color: #625a5a;
}
#legalSize{
    margin-top: 3vh
}
.sort-link {
    padding: 0 1rem 0 1rem;
    color: black;
}
#icon-size {
    text-align: center;
}
.recycle {
    color: #fab62a;
}
.active {
    color: #51e295;
}
.play {
    color: #33b26e;
}
.disabledButton {
    color: rgb(226, 27, 27);
}
.titleFont, .titleFont th {
    font-family: Indie Flower, serif;
    font-size: 1.4rem;
}
.table-hover tr th {
    font-size: 1.2rem;
    font-weight: 300;
}
.grey_btn{
    color: #8a8a8abd;
}

.pagination-nmbr {
    color: darkgray;
    margin: 0.5% 0.1% 0 0.1% !important;
    font-size: 1.4rem;
}
.pagination:last-child{
    color: lightgray ;
}
.pagination:last-child:hover{
    color: black;
}
.pagination-current {
    color: black !important;
    font-weight: bold;
}
a:hover{
    color: black;
    text-decoration: none;
}
.leftArrow {
    color: #625a5a;
    font-size: 2rem;
    margin: 0.7rem 0 0 1rem;
}
.installContainer {
    margin: 3vh;
    background: #f5f5f5;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 3vh;
}
.sessions-list-option {
    font-weight: bold;
}
.close:focus{
    outline: none;
}
.unstyleBtn{
    margin-top: 1.5%;
}
#menuContent{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}
.sort-link:hover, .selected-sort {
    text-decoration: none;
    color: black;
    background-color: #e2e2e2;
    border-radius: 5%;
}