#menuContent{
    padding: 1rem 1rem 0 1rem;
    background-color: white;
    border-radius: 5px;
}
.titleFont{
    font-family: Indie Flower, serif;
    font-size: 1.9rem;
}
#formLogin .row {
    margin: 1.2rem;
}
#passwordForm a {
    color: #625a5a;
    display: block;
    text-align: center;
    text-decoration: none;
}
#passwordForm{
    margin-top : 1.5rem;
    margin-bottom: 0;
}
.leftArrow{
    margin: 0;
    font-size: 2rem;
}
.w-100{
    margin-top:0;
}
.row{
    align-items: center !important;
}