.installContainer{
    margin: 3vh;
    background: #f5f5f5;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 3vh;
}
.form-control{
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.margin_label{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    margin-top: 3vh !important;
}