.admin_icon {
    margin: auto !important;
}
.margin_text{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.padding_container{
    padding: 1rem 1rem 0 1rem;
    margin-bottom:1rem;
    margin-top:2rem;
}