@media only screen and (max-device-width : 320px) {
    .iconMenu{
        font-size: 5rem;
    }
    .linkFooter a{
        font-size: 0.5rem;
    }
    .center{
        font-size:1rem;
    }
    .table-hover .titleFont tr th{
        font-size: 1rem;
    }
    #legalSize{
        font-size: 1.5rem;
    }
    #questionTitle {
        font-size:2rem;
    }
    #authContent{
        margin-top:10vh;
        margin-bottom:10vh;
    }
    #authContent3 p, #authContent3 li, #authContent3 h3{
        font-size: 1.8vh;
    }
    .table-hover .titleFont tr th{
        font-size:0.9rem;
    }
    table, #editorContainer{
                 visibility: collapse;
             }
}

@media only screen and (max-device-width : 575px)  and (orientation: portrait){
    #questionTitle {
        font-size:10rem;
    }
    #authContent{
        margin-top:10vh;
        margin-bottom:10vh;
    }
    .footerLink{
        font-size: 2vh;
    }
    #authContent4{
        margin-top:55%;
        margin-bottom:10vh;
    }
    #authContent3 p, #authContent3 li, #authContent3 h3{
        font-size: 1.8vh;
    }
    table, #editorContainer{
        visibility: collapse;
    }
    .titleIcon, #menuContent h1, #authContent3 h1{
        margin-top: 1.2rem;
        font-size: 1.1em;
    }
    #authContent3 h2{
        font-size:1em;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #inputPseudo{
        width:17vh;
    }
    #authContent{
        margin-top:10vh;
        margin-bottom:10vh;
    }
    #authContent2{
        margin-top:30vh;
        margin-bottom:10vh;
    }
    .iconMenu{
        font-size: 5rem;
    }
    .linkFooter a{
        font-size: 0.8rem;
    }
    .center{
        font-size:1rem;
    }
    #passwordForm a{
        font-size: 1.2rem;
    }

    #modalLoginQamphi{
        margin-top: 10rem !important;
    }
    #modalLoginMoodle{
        margin-top: 10rem !important;
    }
    #leftArrow{
        margin-right:4rem;
    }
    .table-hover .titleFont tr th, .titleFont{
        font-size: 1rem;
    }
    #legalSize{
        font-size: 1.6rem;
    }
    #questionTitle {
        font-size:2rem;
    }
    .footerLink{
        font-size: 2vh;
    }
    #authContent3 p, #authContent3 li, #authContent3 h3{
        font-size: 1.8vh;
    }
    .table-hover .titleFont tr th{
        font-size:0.9rem;
    }
    #displayDeviceSize{
        visibility: visible !important;
    }
    .titleIcon{
        font-size: 1em;
    }
    .adminTitle h1{
        font-size: 1em;
    }
}

@media only screen and (min-device-width : 480px) and (max-width : 768px) {
    #inputPseudo{
        width:17vh;
    }
    #authContent{
        margin-top:25vh;
        margin-bottom:30vh;
    }
    .iconMenu{
        font-size: 4rem;
    }

    .linkFooter a{
        font-size: 0.8rem;
    }

    .center{
        font-size:1rem;
    }

    .table-hover .titleFont tr th, .titleFont{
        font-size: 1.3rem;
    }
    #legalSize{
        font-size: 1.6rem;
    }
    #aboutContent{
        font-size:0.2rem;
    }
    #authContent3 p, #authContent3 li, #authContent3 h3{
        font-size: 4vh;
    }
    .table-hover .titleFont tr th{
        font-size:0.9rem;
    }
    .adminTitle h1{
        font-size: 1.8em;
    }
    .titleIcon{
        font-size: 1.2em;
    }

}

@media only screen and (min-device-width : 480px) and (max-width : 570px) and (orientation: portrait){
    #authContent{
        margin-top:10vh;
        margin-bottom:15vh;
    }
    /*#authContent3{
        margin-top: 40%;
    }*/
    #authContent3 p, #authContent3 li, #authContent3 h3{
        font-size: 2vh;
    }
    .titleIcon{
        font-size: 1.2em;
    }
    .adminTitle h1{
        font-size: 1em;
    }

}

@media only screen and (min-device-width : 480px) and (max-width : 768px) and (orientation: landscape){
    .titleIcon,#menuContent h1,  #authContent3 h1{
        margin-top: 1.2rem;
        font-size: 1.7em;
    }
    #inputPseudo{
        width:30vh;
    }
    .iconMenu{
        font-size: 4rem;
    }
    #authContent4{
        margin-top:20%;
        margin-bottom:10vh;
    }
    .linkFooter a{
        font-size: 0.8rem;
    }

    .center{
        font-size:1rem;
    }

    .fontMin{
        font-size:0.6rem;
    }

    .container .linkFooter{
        margin: 3rem 0 0 0;
    }

    .custom-file label{
        font-size: initial;
    }
    #authContent{
        margin-top:6vh;
        margin-bottom:7vh;
    }
    #authContent2{
        margin-top: 30%;
    }
    .table-hover .titleFont tr th{
        font-size:0.9rem;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #inputPseudo{
        width:20vh;
    }
    .iconMenu{
        font-size: 6rem;
    }
    .linkFooter a{
        font-size: 1.2rem;
    }
    .center{
        font-size:1.2rem;
    }
    .fontMin{
        font-size:0.8rem;
    }
    #authContent2{
        margin-top: 30%;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait){
    #inputPseudo{
        width:15vh;
    }
    #formLogin div{
        font-size: 1.5rem;
    }
    .container .linkFooter{
        margin: 7rem 0 0 0;
    }
    #authContent2{
        margin-top: 30%;
    }
    tbody tr td{
        font-size:0.5em;
    }
}

@media only screen and (min-device-width : 1024px) and (orientation: landscape){
    #inputPseudo{
        width:15vh;
    }
}

@media only screen and (min-device-width : 1024px){
    #inputPseudo{
        width:15vh;
    }
}