/* Media query for phones / tablets */
button:focus {
    outline: none;
}
.icon-pointer {
    z-index: 2;
    position: relative;
    transform: translateY(-100%)
    translateX(-50%);
}
html, body{
    font-size: 2vh;
}

@media (min-width: 280px) and (max-width: 1024px){

    #questionTitle {
        font-size: 5vh;
        text-align: center;
        background: #444;
        color: white;
        min-height: 9vh;
    }
    #questionTitle a {
        color: white;
    }
    #propoStyle .col-6 {
        padding: 0;
        height: 15rem;
    }
    #bV {
        background: #1b733b;
        color: white;

    }
    #next, #end {
        bottom: 0;
        background: #1b733b;
        color: white;
        position: absolute;
    }

    .responseSummary{
        padding: 3rem;
    }
    .responseSummary> ul{
        margin-top: 3rem;
        text-align: center;
    }
    .titleFont {
        margin-top: 8%;
        font-size: 2.5rem;
    }
    #wc-input{
        margin-top:15rem;
    }
}
/* Media Query for large screens (ex : laptops)*/
@media (min-width: 1280px) and (max-width: 2000px){
    #questionTitle {
        font-size: 2.5vh;
        text-align: center;
        background: #444;
        color: white;
        min-height: 4vh;
        padding: 0;
    }

    #questionTitle a {
        color: white;
    }

    #propoStyle .col-6 {
        padding: 0;
        height: 4.6rem;

    }

    .propoStyle {
        height: 9.2vh;
        font-size: 4vh;
    }
    #bV {
        background: #1b733b;
        color: white;
    }
    #next, #end{
        background: #1b733b;
        color: white;
    }
    #wc-input{
        margin-top:6.5vh;
    }
}
/* Specific media query */
@media (min-width: 1025px) and (max-width: 1280px) {
    #propoStyle{
        min-height: 100%;
    }
    .phone{
        width: 100%;
        background-color: white;
    }
    #questionTitle {
        font-size: 6vh;
        text-align: center;
        background: #444;
        color: white;
        min-height: 12vh;
    }
    #questionTitle a {
        color: white;
    }
    #bV {
        background: #1b733b;
        color: white;
        bottom: 0;
    }
    #next, #end{
        background: #1b733b;
        color: white;
        position: absolute;
        bottom: 0;
    }
    .responseSummary{
        padding: 3rem;
    }
    .titleFont {
        margin-top: 5%;
        font-size: 3rem;
    }
    #propoStyle .col-6 {
        padding: 0;
        height: 14.6rem;
    }
    #wc-input{
        margin-top:20%;
    }

}
.responseSummary> ul{
    margin-top: 2vh;
    padding: 0;
    text-align: center;
    list-style: none;
}

.responseSummary{
    text-align: center;
}
#wc-input{
    justify-content: center;
    width: 100%;
}